.section-announce {
    min-height: 625px;
}

@media (max-width: 767px) {
    .section-announce {
        background: linear-gradient(to bottom, #a42e36 0%, #a42e36 50%, #f6eddc 50%, #f6eddc 100%);
    }
}

@media (min-width: 768px) {
    .section-announce {
        background: linear-gradient(to bottom, #a42e36 0%, #a42e36 50%, #f6eddc 50%, #f6eddc 100%);
    }
}

@media (min-width: 992px) {
    .section-announce {
        background: linear-gradient(to right, #a42e36 0%, #a42e36 50%, #f6eddc 50%, #f6eddc 100%);
    }
}

@media (min-width: 1200px) {
    .section-announce {
        background: linear-gradient(to right, #a42e36 0%, #a42e36 50%, #f6eddc 50%, #f6eddc 100%);
    }
}

@media (max-width: 767px) {
    .section-announce .event {
        overflow-y: auto;
        min-width: 320px;
    }
}

.section-announce .event {
    background: url("/ron/img/ornament_1.png") no-repeat top right;
    color: #f6eddc;
    height: 560px;
    margin-left: -15px;
}

.section-announce .event a {
    color: #f6eddc;
    text-decoration: none;
}

.section-announce .event a:hover,
.section-announce .event a:focus {
    color: #f6eddc;
    text-decoration: none;
}

.section-announce .event h3 {
    font-weight: 700;
    margin-top: 0;
}

.section-announce .event .row {
    padding-top: 10px;
}

.section-announce .event .title {

}

.section-announce .event .title span {
    padding-left: 10px;
    padding-right: 10px;
    color: #f6eddc;
    font-size: 24pt;
    font-weight: 700;
}

.section-announce .event .title img {
    margin-top: -13px;
}

.section-announce .event .date {
    color: #d95860;
    padding-left: 10px;
}

.section-announce .event .img-circle {
    /*margin-top: 50px;*/
}

.section-announce .event .image-mask {
    background: url("/ron/img/mask_event.png") no-repeat;
    width: 130px;
    height: 130px;
    margin-top: 50px;
}

.section-announce .event .image-mask img {
    margin-top: 7px;
    margin-left: 7px;
    width: 115px;
    height: 115px;
}

@media (max-width: 767px) {
    .section-announce .announce {
        overflow-x: auto;
    }
}

.section-announce .announce {
    color: #a99481;
    background: url("/ron/img/background_event.png") no-repeat bottom right;
    min-height: 610px;
}

.section-announce .announce a {
    color: #a99481;
    text-decoration: none;
}

.section-announce .announce h3 {
    font-weight: 700;
}

.section-announce .announce .row {
    padding-top: 10px;
}

@media (max-width: 767px) {
    .section-announce .announce .title {
        padding-top: 25px;
    }
}

@media (max-width: 992px) {
    .section-announce .announce .title {
        padding-top: 25px;
    }
}

.section-announce .announce .title span {
    padding-left: 10px;
    padding-right: 10px;
    color: #97111a;
    font-size: 24pt;
    font-weight: 700;
}

.section-announce .announce .title img {
    margin-top: -13px;
}

.section-announce .announce .date-big {
    font-size: 45pt;
}

.section-announce .announce .image-mask {
    border: 7px double #a99481;
}

@media (max-width: 767px) {
    .section-announce .announce .image-mask {
        width: 240px;
        height: 180px;
    }

    .section-announce .announce .image-mask img {
        width: 226px;
        height: 166px;
    }
}

@media (min-width: 768px) {
    .section-announce .announce .image-mask {
        width: 365px;
        height: 274px;
    }

    .section-announce .announce .image-mask img {
        width: 351px;
        height: 260px;
    }
}

/* Анонсы-новости */
.change-event-announce {
    margin-bottom: 50px;
}

.content-event-announce {
    background-color: #f6eddc;
}

.content-event-announce a {
    color: #a18e7c;
}

.content-event-announce a:hover {
    color: #333333;
}

.content-event-announce .content {
    background: url("/ron/img/ornament_7.png") no-repeat top right;
    min-height: 575px;
}

.content-event-announce .news {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #a99481;
}

.content-event-announce .image-mask {
    border: 2px solid #a99481;
}

/*.content-event-announce .event .date {*/
/*color: #d95860;*/
/*padding-left: 10px;*/
/*}*/
.content-event-announce .date-big {
    font-size: 45pt;
}

@media (max-width: 767px) {
    .content-event-announce .image-mask {
        width: 290px;
        height: 220px;
    }

    .content-event-announce .image-mask img {
        width: 285px;
        height: 215px;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .content-event-announce .image-mask {
        width: 310px;
        min-height: 235px;
    }

    .content-event-announce .image-mask img {
        width: 305px;
        height: 230px;
        padding: 10px;
    }

}

@media (max-width: 767px) {
    .content-event-announce {
        overflow-x: auto;
    }
}

/* Отдельная статья*/
.news .row.title,
.news .row.content {
    margin-bottom: 50px;
}

.container.news {
    background: url("/ron/img/ornament_8.png") no-repeat top right;
    height: 560px;
}

