body section.header-collapse {
    padding-top: 150px;
}

header {
    text-align: center;
    line-height: 108px;
    height: 184px;
    background-image: url("/ron/img/header/background.png");
/ / set animation -webkit-transition : all 0.5 s ease;
    transition: all 0.5s ease;
    z-index: 10;
}

header.desktop {
    position: fixed;
    width: 100%;
}

header.header-collapse {
    position: fixed;
    line-height: 48px;
    height: 48px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
}

header .navbar-brand {
    background: url("/ron/img/header/logo.png") no-repeat;
    float: none;
    line-height: 150px;
    padding: 35px 105px;
/ / set animation -webkit-transition : all 0.5 s ease;
    transition: all 0.5s ease
}

header.header-collapse .navbar-brand {
    background: url("/ron/img/header/logo_low.png") no-repeat;
    float: left;
    line-height: 50px;
    padding: 0 25px;
    margin-top: 10px;
}

header .navbar-brand-text {
    line-height: 13px;
    color: #F6EDDC;
    font-weight: 700;
}

header.header-collapse .navbar-brand-text {
    display: none;
}

@media (min-height: 639px) {
    header .navbar .navbar-nav {
        display: inline-block;
    }

    header .navbar .navbar-collapse {
        text-align: center;
    }
}

header .navbar {
    font-weight: 700;
    font-size: 20px;
}

header .navbar-toggle {
    border-color: #F6EDDC;
    border-width: 2px;
}

header .navbar-toggle .icon-bar {
    background-color: #F6EDDC;
}

header .header-collapse {
/ / set animation -webkit-transition : all 0.5 s ease;
    transition: all 0.4s ease;
}

header.header-collapse nav {
    margin-top: 0;
}

header nav {
    margin-top: 40px;
/ / set animation -webkit-transition : all 0.5 s ease;
    transition: all 0.5s ease;
}

header nav .container-fluid,
header nav .container-fluid div {
    padding-right: 0;
}

header nav a {
    color: #F6EDDC;
}

header .nav > li {
    padding-left: 20px;
}

header .nav.navbar-nav > li > .dropdown-menu {
    background-color: rgba(144, 1, 11, 0.7);
}

header .nav > li a:hover,
header .nav > li a:focus,
header .nav .open > a,
header .nav .open > a:focus,
header .nav .open > a:hover {
    text-decoration: none;
    background-color: rgba(144, 1, 11, 0.7);
    color: #f6eddc;
}

header .nav .dropdown-menu > li > a {
    color: #f6eddc;
}

header .menu-language {
    margin-top: 40px;
    line-height: 0;
}

header .header-profile {
    color: #f6eddc;
    margin-top: 40px;
    line-height: 0;
}

header .header-profile ul {
    background: #f6eddc;
}

header .header-profile ul li a {
    color: #333333;
}

header .header-profile ul li.divider {
    background-color: #333333;
}

header .header-profile a {
    color: #f6eddc;
}

header .header-profile a:hover,
header .header-profile a:focus {
    background-color: rgba(144, 1, 11, 0.7);
    color: #f6eddc;
}

header .header-profile a:hover span,
header .header-profile a:focus span {
    color: #f6eddc;
}

header .header-profile {
    color: #f6eddc;
    margin-top: 40px;
    line-height: 0;
}

header .header-profile .icon {
    box-shadow: 0 0 30px #90010b;
    background-color: #F6EDDC;
    border-radius: 30px;
    height: 43px;
    width: 43px;
    padding: 12px;
    font-size: 16pt;
}

header .header-profile .icon span:before {
    margin: -7px;
    padding-left: 9px;
    padding-right: 1px;
}

header .header-profile .icon.statusPlatinum1 {
    background: #E5E4E2 linear-gradient(to top right, #E5E4E2 0%, #a1a1a0 36%, #484848 100%);
}

header .header-profile .icon.statusGold1 {
    background: #B8860B linear-gradient(to top right, #fcc30b 0%, #B8860B 36%, #714b0b 100%);
}

header .header-profile .icon.statusCopper1 {
    background: #8E402A linear-gradient(to top right, #d26b53 0%, #a45e4b 36%, #8E402A 100%);
}

header .header-profile .icon.statusNone {
    background-color: #F6EDDC;
}

header.header-collapse .menu-language {
    display: none;
}

header .menu-language li {
    display: inline-block;
    margin-right: 15px;
}

header .menu-language .active p {
    color: #90010b;
}

header .menu-language p {
    font-weight: 700;
    color: #F6EDDC;
}

header .menu-language li .active div {
    box-shadow: 0 0 30px #90010b;
    background-color: #F6EDDC;
    border-radius: 30px;
    height: 43px;
    width: 43px;
}

header .menu-language li .active p {
    padding-top: 21px;
    padding-left: 1px;
}