body {
    font-size: 12pt;
}

section.first {
    margin-top: 185px;
}

.loading {
    position: absolute;
    display: block;
    background: #555 url('http://katushka.in.ua/templates/katushka2/images/ajax-loader.gif') center center no-repeat;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #8e3239;
}

#editProfile .calendar-icon {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #a42e36;
    color: #FFFFFF;
    border-color: #ac4147;
}

#editProfile .error,
#changePassword .error,
#editProfilePhoto .error {
    color: #f6eddc;
    font-size: smaller;
}

.error {
    color: #a94442;
}

.row.section-main {
    margin: 0;
    padding: 0;
}

.row.header {
    margin: 0;
    padding: 0;
}

.ron-color {
    color: #a94442;
}

.ron-color-light {
    color: #f6eddc;
}

.ron-color-red-dark {
    color: #8e3239;
}

.ron-color-dark-gray {
    color: #333333;
}

.ron-color-light-gray {
    color: #666666;
}

.font-weight-700 {
    font-weight: 700;
}

.small {
    font-size: small;
}

.large {
    font-size: large;
}

.x-large {
    font-size: x-large;
}

.xxx-large {
    font-size: xx-large;
    font-size: -webkit-xxx-large;
}

.line-height-3 {
    line-height: 3;
}

.ron-club-submit {
    border: 1px solid;
    border-radius: 25px;
    padding: 5px;
    color: #FFFFFF;
}

.btn-ron-club {
    border-radius: 25px;
    color: #a42e36;
    background-color: #f6eddc;
    border-color: #ac4147;
}

.inline {
    display: inline;
}

a {
    color: #f6eddc;
}

a:focus, a:hover {
    color: #EAE1D0;
    text-decoration: none;
}

section a {
    color: #ac4147;
}

section a:focus, section a:hover {
    color: #a42e36;
    text-decoration: none;
}

.email span{
    border-bottom: 1px solid;
}

/* Контакты */
.container.contact {
    background: url("/ron/img/ornament_8.png") no-repeat top left;
    min-height: 560px;
    margin-bottom: 50px;
}

.contact .map-coord {
    border-bottom: 1px dashed;
}

.contact .info .row {
    margin-top: 50px;
}

.contact .spica{
    background: url("/ron/img/spica.png") no-repeat top left;
    height: 185px;
    margin-top: -135px;
}

.contact .maps #map {
    width: 100%;
    height: 400px;
    border: 10px solid #f3f3f3;
}

@media (min-width: 768px) {
    .contact .maps #map {
        width: 475px;
        height: 500px;
    }
}

@media (min-width: 992px) {
    .contact .maps #map {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .contact .maps #map {
        width: 800px;
        height: 700px;
    }
}

/* Стилизация вкладок */
.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs,
.nav-pills {
    text-align: center;
}

ul.nav-tabs {
    border: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    padding: 5px 20px;
    border: 1px solid #a42e36;
    border-radius: 0;
}

.nav-tabs > li.active > a span,
.nav-tabs > li.active > a:focus span,
.nav-tabs > li.active > a:hover span {
    color: #a42e36;
    border-bottom: 1px dashed #a42e36;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
    padding: 5px 20px;
    border: 0;

}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
    border-radius: 0;
    border: 1px solid #a42e36;
    background-color: #f6eddc;
}

.nav-tabs > li > a span {
    color: #a18e7c;
    border-bottom: 1px dashed #a18e7c;
}

.nav-tabs > li > a:focus span,
.nav-tabs > li > a:hover span {
    color: #a42e36;
    border-bottom: 1px dashed #a42e36;
}

/* стилизация пагинации */

.pagination > .active > a {
    background-color: #a42e36;
    border-radius: 20px;
    border: none;
}

.pagination > .active > a:hover {
    background-color: #a42e36;
    border-radius: 20px;
}

.pagination > li > a {
    color: #333333;
    border: none;
    background-color: transparent;
}

.pagination > li > a:hover {
    background-color: #a42e36;
    border-radius: 20px;
    color: #ffffff;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    border: none;
    background-color: transparent;
}

/* стилизация полей ввода */
input[type = 'text'],
input[type = 'password'],
input[type = 'email'] {
    border-radius: 25px;
    border-color: #fa3838;
}

.form-control[disabled],
input[disabled] {
    cursor: auto;
}

/* стилизация загрузки файлов */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.browse,
.browse:active {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #a42e36;
    color: #FFFFFF;
    border-color: #ac4147;
    height: 34px;
}

.browse:hover,
.browse:hover:active,
.browse:focus {
    background-color: #ac4147;
    color: #FFFFFF;
    border-color: #a42e36;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

/* стилизация радио */
input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: 12;
    width: 18px;
    height: 18px;
}

input[type=radio]:checked,
input[type=radio]:focus {
    outline: none !important;
}

input[type=radio] + .lbl {
    position: relative;
    z-index: 9;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 14px;
    min-width: 14px;
    font-weight: normal;
}

input[type=radio] + .lbl.padding-16::before {
    margin-right: 16px;
}

input[type=radio] + .lbl.padding-12::before {
    margin-right: 12px;
}

input[type=radio] + .lbl.padding-8::before {
    margin-right: 8px;
}

input[type=radio] + .lbl.padding-4::before {
    margin-right: 4px;
}

input[type=radio] + .lbl.padding-0::before {
    margin-right: 0px;
}

input[type=radio] + .lbl::before {
    font-weight: normal;
    font-size: 11px;
    color: #da251d;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 13px;
    line-height: 13px;
    min-width: 13px;
    margin-right: 1px;
    margin-top: -5px;
}

input[type=radio]:checked + .lbl::before {
    display: inline-block;
    content: '\f00c';
    background-color: #ffffff;
    border-color: #da251d;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    font-size: 40px;
    padding-top: 4px;
    color: #da251d;
}

input[type=radio]:hover + .lbl::before,
input[type=radio] + .lbl:hover::before {
    border-color: #da251d;
}

input[type=radio]:active + .lbl::before,
input[type=radio]:checked:active + .lbl::before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=radio]:disabled + .lbl::before,
input[type=radio][disabled] + .lbl::before,
input[type=radio].disabled + .lbl::before {
    background-color: #DDD !important;
    border-color: #CCC !important;
    box-shadow: none !important;
    color: #BBB;
}

input[type=radio] + .lbl::before {
    border-radius: 32px;
    height: 22px;
    width: 22px;
}

input[type=radio]:checked + .lbl::before {
    content: "\2022";
}