.section-slider {
    background: url("/ron/img/slider/background.png") repeat-x;
    height: 406px;
}

.slider {
    z-index: 9;
    height: 630px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
}

.slider ul,
.slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider ul {
    width: 9999px;
}

.slider ul li {
    list-style-type: none;
    float: left;
    height: 290px;
}

.slider .mainImage img{
    height: 628px;
}

.slider .nav {
}

.slider .nav span {
    cursor: pointer;
}

.slider .nav span.on img{
    -webkit-filter: none;
    height: 120px;
}

.slider .slider-element .nav {
    margin-top: 20px;
}

.slider .nav {
    margin-top: 120px;
}

.slider .nav span img {
    -webkit-filter: blur(2px);
    margin-left: 10px;
/ / set animation -webkit-transition : all 0.5 s ease;
    transition: all 0.4s ease;
    height: 100px;
    max-width: 80px;
}

.slider .nav span img:hover {
    -webkit-filter: none;
    margin-left: 10px;
/ / set animation -webkit-transition : all 0.5 s ease;
    transition: all 0.4s ease;
}

.slider .slider-content {
    height: 285px;
}

.slider .slider-content-header {
    font-weight: 700;
    margin-top: 75px;
}

.slider .slider-link {
    padding: 5px;
    background-color: #8e3239;
    padding-right: 40px;
    padding-left: 40px;
    color: #f9f1f2;
    font-weight: 700;
    text-decoration: none;
}
.slider .slider-link:focus,
.slider .slider-link:hover{
    text-decoration: none;
    background-color: #a42e36;
}

.slider-arrow {
    font-size: 40px;
    top: -405px;
    color: #8e3239;
    cursor: pointer;
    z-index: 9;
}

.slider-arrow.arrow-left{
}

.slider-arrow.arrow-right{
}


.slider-arrow:hover {
    color: #a42e36;

}

